<ion-header>
  <ion-toolbar color ="primary">
<ion-buttons slot="start">
    <ion-back-button defaulthref="/"></ion-back-button>
  </ion-buttons>
    <ion-title>Mis Citas</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="citas">
  <ion-card>
    <ion-text color="dark"> 
      <h3> Club: {{citas}}</h3>
    </ion-text>
   
</ion-card>
</div>
</ion-content>
