:host {
  ion-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
  }

  .searchTool {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    transition: ease all 0.5s;
    -webkit-transition: ease all 0.5s;

    &.active {
      height: 150px;
      opacity: 1;
    }
  }

  ion-searchbar {
    margin: 16px 16px !important;
    width: calc(100% - 32px) !important;
  }

  .move-cart {
    position: fixed;
    top: 22px;
    right: 22px;
    z-index: 99;
  }
}
