<ion-grid class="ion-no-padding">
  <ion-row class="header">
      <ion-avatar>
          <img [src]="user.img">
      </ion-avatar>
  </ion-row>
  <ion-row>
      <ion-col size="12" class="ion-no-padding">
          <ion-card class="ion-no-margin ion-text-center transparent">
              <ion-badge>
                  <ion-skeleton-text animated></ion-skeleton-text>
              </ion-badge>
              <ion-item lines="none" class="transparent ion-text-center">
                  <ion-label>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </ion-label>
                  <ion-label>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </ion-label>
                  <ion-label>
                      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                      <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                  </ion-label>
              </ion-item>
          </ion-card>
          <ion-list class="ion-margin-bottom">
              <ion-item lines="none" *ngFor="let item of list">
                  <ion-skeleton-text animated style="width: 10%"></ion-skeleton-text>
                  <ion-label class="ion-margin-start">
                      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  </ion-label>
                  <ion-skeleton-text animated style="width: 5%"></ion-skeleton-text>
              </ion-item>
          </ion-list>
      </ion-col>
  </ion-row>
</ion-grid>
