.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
:host {
  .slide-top {
    -webkit-animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s both;
    animation: slide-in-blurred-top 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) 0.1s both;
  }

  .slide1 {
    -webkit-animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
    animation: slide-in-blurred-bottom 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
  }

  .slide2 {
    -webkit-animation: slide-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .slide3 {
    -webkit-animation: slide-in-bottom 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-bottom 1.1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }



  ion-toolbar {
    --ion-toolbar-background: transparent !important;
    --border-width: 0px !important;
    border-bottom: 0px !important;
  }

  ion-content {
    overflow: hidden;
  }

  .main-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background: url('../../assets/images/logina.jpg') no-repeat center !important;
  }

  .header-md:after {
    height: 0px !important;
  }
  
  .logo {
    width: 200px;
    margin-top: 30px;

    img {
      width: 100%;
    }
  }

  ion-card {
    padding-top: 10px;
  }

  ion-input {
    color: var(--ion-color-primary-contrast) !important;
  }

}
