<!-- <ion-split-pane contentId="main">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <br>
      <img class="icon" src="assets/icon/logo_positivo2.png" >
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let pagina of paginas; let i = index">
          <ion-item (click)= "cambiarIndiceSeleccionado(i)" routerDirection="root" [routerLink]= "[pagina.url]"
          lines="none" detail="false" [class.selected]= "indiceSeleccionado == i">
          <ion-icon slot="start" [name]= "pagina.icono + '-outline' "></ion-icon>
          <ion-label>{{pagina.titulo}}</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
        <ion-item (click)= "Saalir()" routerDirection="root" lines="none" detail="false">
          <ion-icon slot="start" [name]="'exit-outline'"></ion-icon>
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main" main></ion-router-outlet>
</ion-split-pane> -->
<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
      <ion-content>
          <div class="profile">
              <ion-avatar>
                  <img src=" "> <!-- imagen de perfil de usuario, ejemplo: assets/images/avatar/9.jpg -->
              </ion-avatar>
              <h2 class="name" > {{cliente}}<!-- [user]="user" *ngIf="!isLoading" -->  </h2> <!--nombre del usuario accesado-->
          </div>
          <custom-side-menu [menuList]="pageList"></custom-side-menu>
      </ion-content>
  </ion-menu>
  <ion-menu side="end" menuId="custom" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
      <ion-content>
          <app-custom-side-right></app-custom-side-right>
      </ion-content>
  </ion-menu>
  <ion-menu side="end" menuId="search" disabled="true" type="overlay" contentId="main-content"
            class="my-custom-menu">
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>
