<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Cardio Dance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <custom-animation-list6 [list]="list" [animationClassName]="animationClassName"></custom-animation-list6>
</ion-content>
