<ion-grid>
  <ion-row>
      <ion-col size="6" *ngFor="let item of list">
          <ion-card class="ion-no-padding ion-no-margin ion-text-center">
              <img [src]="item.img">
              <h5>{{item.name}}</h5>
              <ion-item lines="none" class="transparent ion-no-padding">
                  <ion-label slot="start"><p class="price">${{item.price}}</p></ion-label>
                  <ion-button fill="clear" slot="end" (click)="onAdd(item,$event)">
                      <ion-icon slot="icon-only" size="large" color="secondary" name="cart"></ion-icon>
                  </ion-button>
              </ion-item>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
