<ion-grid>
  <ion-row>
      <ion-col size="12">
          <ion-item  lines="none" class="box-shadow1" *ngFor="let item of list" [color]="!item.pago ? 'primary' : 'success'">
              <ion-label class="ion-padding-start">
                  <h4>{{item.title}}</h4>
                  <p class="ion-text-wrap">{{item.fecha}}</p>
                  <p class="ion-text-wrap">{{item.subTitle}}</p>
              </ion-label>
          </ion-item>
      </ion-col>
  </ion-row>
</ion-grid>
