:host {
  .segment-button-checked {
    color: var(--ion-color-secondary) !important;
  }

  ion-segment {
    padding-top: constant(safe-area-inset-bottom);
    padding-top: env(safe-area-inset-bottom);
  }

  ion-segment-button {
    color: white !important;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    border: 2px solid #fff;
    position: absolute;
    left: 30px;
    bottom: 0px;
    background-color: #4CAF50 !important;
  }
}
