<ion-header>
  <ion-toolbar color ="primary">
<ion-buttons slot="start">
    <ion-back-button defaulthref="/"></ion-back-button>
  </ion-buttons>
    <ion-title> Estado de cuenta</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content> 
<ion-card>

      <ion-text color="dark"> 
        <h3> Concepto: </h3>
      </ion-text>

      <ion-text color="red">
        <h3>Saldo: </h3>
      </ion-text>

      <ion-text color="red">
        <h3>Debito: </h3>
      </ion-text>

</ion-card>

      <!--Concepto:  {{movimiento.Concepto}} muestra el nombre de concepto del cliente -->
     
       <!--estos dos datos se deben sumar y deben mostrar un total  -->
      <!--Saldo: {{movimiento.Saldo}}  muestra la cantidad de saldo del cliente -->
      <!--  Debito: {{movimiento.Debito}}  muestra la cantidad de debito del cliente -->


</ion-content>