:host {
  .header {
    height: 200px;
    background-color: var(--ion-color-secondary);
    border-radius: 0 0 50% 50%;
  }

  ion-avatar {
    margin: 150px auto !important;
    z-index: 999;
  }

}
