<ion-grid>
  <ion-row>
      <ion-col size="12" size-md="6" *ngFor="let item of list;let i=index"
               [classList]="animationClassName"
               [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}">
          <ion-card class="ion-no-padding ion-no-margin">
              <div class="videoWrapper">
                      <!-- <img [src]="item.img"> -->
                      <!-- <ion-card class="ion-no-margin ion-no-padding"> -->

                      <!-- <iframe src="https://player.vimeo.com/video/76979871" width=“100%” height=“100%” frameborder=“0” webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
                      <iframe [src]="sanitizar('https://player.vimeo.com/video/'+item.url+'?title=0&byline=0')" width="100%" height="auto" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                      <!-- </ion-card> -->
                    </div>
              <ion-item lines="none" class="ion-no-padding">
                  <ion-label class="ion-no-padding">
                    <ion-icon name="star" color="danger" size="large" *ngFor="let item of sList"></ion-icon>
                      <h4>{{item?.name}}</h4>
                      <p>{{item.fecha}}</p>
                      <p>{{item.content}}</p>
                  </ion-label>
              </ion-item>
              <ion-item lines="none" class="ion-no-margin ion-no-padding">
                  <ion-icon name="heart" color="danger" size="large"></ion-icon>
                  <ion-label color="light">{{item.likes}}</ion-label>
                  <ion-icon name="chatbubbles" color="secondary" size="large"></ion-icon>
                  <ion-label color="light">{{item.comments}}</ion-label>
                  <div *ngIf="item.visto===true">
                  <ion-icon name="eye" color="secondary" size="large"></ion-icon>
                </div>
                <div *ngIf="item.visto===false">
                  <ion-icon name="eye-outline" color="secondary" size="large"></ion-icon>
                </div>
                  <ion-label color="light">{{item.vistos}}</ion-label>
              </ion-item>
          </ion-card>


      </ion-col>


  </ion-row>
</ion-grid>
