<ion-grid>
  <ion-row>
      <ion-col size="6" *ngFor="let item of list;let i=index"
               [classList]="animationClassName"
               [ngStyle]="{'animation-delay':(i + 1) * 0.2+'s'}">
          <ion-card class="ion-no-padding">
              <ion-avatar [classList]="'flip-in-hor-top'"
                          [ngStyle]="{'animation-delay':(i + 1) * 0.4+'s'}">
                  <img [src]="item.avatar">
              </ion-avatar>
              <img [src]="item.img">
              <ion-item lines="none" class="ion-text-center ion-no-margin ion-no-padding">
                  <ion-label class="ion-text-center">
                      <h5 class="ion-text-wrap">{{item?.name}}</h5>
                      <ion-icon name="star" color="danger" *ngFor="let item of sList"></ion-icon>
                  </ion-label>
              </ion-item>
          </ion-card>
      </ion-col>
  </ion-row>
</ion-grid>
